---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const practices = (await getCollection("practices")).sort((a, b) =>
  b.data.title.localeCompare(a.data.title)
);
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 2rem;
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      ul li .title {
        margin-bottom: 16px;
        font-size: 2em;
      }
      ul li a {
        color: inherit;
        display: block;
      }
      ul li img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      ul li .links {
        margin-top: 8px;
        display: flex;
        gap: 16px;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <ul>
        {
          practices
            .sort(
              (a, b) =>
                a.data.order.valueOf() - b.data.order.valueOf() ||
                a.data.title.localeCompare(b.data.title)
            )
            .map((practice) => (
              <li>
                <h2 class="title">{practice.data.title}</h2>
                {practice.data.slides ? (
                  <>
                    <div>
                      <a href={`/${practice.data.slides}/`}>
                        <img src={`/preview/${practice.data.slides}/1.png`} />
                      </a>
                    </div>
                    {!practice.data.slidesOnly && (
                      <div class="links">
                        <a href={`/practices/${practice.id}/`}>Exercices</a>
                        {practice.data.correctionDate && (
                          <a
                            class="correction-link"
                            href={`/corrections/${practice.id}/`}
                            data-correction-date={practice.data.correctionDate}
                          >
                            Correction
                          </a>
                        )}
                      </div>
                    )}
                  </>
                ) : (
                  <div>
                    <a href={`/practices/${practice.id}/`}>
                      <img src={practice.data.image} />
                    </a>
                  </div>
                )}
              </li>
            ))
        }
      </ul>
    </main>
    <Footer />

    <script>
      let correctionLinks = document.querySelectorAll(
        ".correction-link"
      ) as NodeListOf<HTMLAnchorElement>;

      correctionLinks.forEach((link) => {
        const correctionDate = new Date(
          link.getAttribute("data-correction-date")!
        );
        const now = new Date();
        if (now < correctionDate) {
          link.style.display = "none";
        }
      });
    </script>
  </body>
</html>
