---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const practices = (await getCollection("practices")).sort((a, b) =>
  b.data.title.localeCompare(a.data.title)
);
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <ul>
        {
          practices.map((practice) => (
            <li>
              {practice.data.slides && (
                <img src={`/preview/${practice.data.slides}/1.png`} />
              )}
              <h4 class="title">{practice.data.title}</h4>
              {practice.data.slides && (
                <a href={`/${practice.data.slides}/`}>Cours</a>
              )}
              <a href={`/practices/${practice.id}/`}>TP</a>
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
